dist: xenial
sudo: false
language: scala

matrix:
  include:
    - jdk: openjdk8
    - jdk: openjdk11

script:
  - sbt doc
  - echo lourkeur.github.io/coprocessing > _dist/CNAME

deploy:
  provider: pages
  skip_cleanup: true
  local_dir: _site
  github_token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep_history: true
  on:
    branch: master
